<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ГнаП</title>
    {{ bootstrap.load_css()}}
    {% block styles %}
    {% endblock %}
    {% endblock %}
</head>

<body>
<!--<section class="hero is-primary is-fullheight">-->
{% from 'bootstrap5/nav.html' import render_nav_item, render_breadcrumb_item %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('index', 'Home') }}
        {{ render_nav_item('profile', 'Profile') }}
        {{ render_nav_item('login', 'Login/Sign up') }}
        {{ render_nav_item('logout', 'Logout') }}
    </div>
</nav>


<div class="hero-body">
    <div class="container has-text-centered">
        {% block content %}
        {% endblock %}
    </div>
</div>
<!--</section>-->
</body>

</html>