{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<br><br>
<div class="row">
    {% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
    {% endfor %}
    <div>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            {{ render_form(form) }}
            <div class="text-center">
                <p>Not a member? <a href="{{url_for('signup')}}">Register</a></p>
            </div>
            <!--            <div class="col-sm-12 pt-3">-->
            <!--                <a href="{{url_for('signup')}}">Регистрация</a>-->
            <!--            </div>-->
        </form>
    </div>
</div>


{% endblock %}