{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{{ super() }}
<div class="row">
    {% for msg in get_flashed_messages() %}
    <div class="text-center">
        <div class="flash">{{msg}}</div>
    </div>
    {% endfor %}
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.csrf_token }}
        {{ render_form(form) }}
        <div class="text-center">
            <p>Уже смешарик? <a href="{{url_for('login')}}">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}

